<!--<div ui-grid-column-resizer="" ng-if="grid.options.enableColumnResizing" class="ui-grid-column-resizer ng-scope ng-isolate-scope left" col="col" position="left" render-index="renderIndex"></div>-->
<!-- end ngIf: grid.options.enableColumnResizing -->
<div ng-class="{ 'sortable': sortable }" class="ng-scope sortable">
    <div class="ui-grid-vertical-bar">&nbsp;</div>
    <div class="ui-grid-cell-contents ng-binding" col-index="renderIndex">
        {{col.displayName}}
        <span ui-grid-visible="col.sort.direction" ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }" class="ui-grid-invisible ui-grid-icon-blank">&nbsp;</span>
    </div>
    <div class="ui-grid-column-menu-button ng-scope" ng-if="grid.options.enableColumnMenu &amp;&amp; !col.isRowHeader  &amp;&amp; !col.colDef.disableColumnMenu" ng-click="toggleMenu($event)"><i class="ui-grid-icon-angle-down">&nbsp;</i>
    </div>
    <div ng-if="filterable" class="ui-grid-filter-container ng-scope" ng-repeat="colFilter in col.filters">
        <input type="text" class="ui-grid-filter-input ng-pristine ng-valid ng-touched" ng-model="colFilter.term" ng-click="$event.stopPropagation()" ng-attr-placeholder="{{colFilter.placeholder || ''}}" placeholder="">

        <div class="ui-grid-filter-button" ng-click="colFilter.term = null"><i class="ui-grid-icon-cancel right ng-hide" ng-show="!!colFilter.term">&nbsp;</i>
        </div>
    </div>
</div>
<!--<div ui-grid-column-resizer="" ng-if="grid.options.enableColumnResizing" class="ui-grid-column-resizer ng-scope ng-isolate-scope right" col="col" position="right" render-index="renderIndex"></div>-->